html {
  overflow: auto !important;
}

body {
  margin: 0;
  font-family: 'Mont', sans-serif !important;

}

.container {
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.icon {
  color: #808080 !important;
  cursor: pointer;
  transition: color 0.2s linear;
}

.icon:hover {
  color: #555 !important;
}

.icon:active {
  color: #000 !important;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-Regular.ttf');
  font-weight: normal;
}